[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia 10 efectos en imágenes con CSS que querrás en tu web - Enrique J. Ros
Type=Link
URL=https://www.enriquejros.com/efectos-imagenes-css/
Icon=text-html
